body {
    height: 100%vh;
}
.winningNumbersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    
    gap: 20px;
}
.winningNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: seashell;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}
.winningPBNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
}
.userNumbersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 10px;
}
.userNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    border: 1px solid black;
    font-weight: 800;
    font-size: 26px;
}
.userPBNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border: 1px solid black;
    font-weight: 800;
    font-size: 26px;
}
.numberButtonsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
   
    margin-top: 20px;
    gap: 30px;
}
.buttonsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 420px;
    height: 300px;
   
}
.numberButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 58px;
    height: 58px;
    border: 1px solid black;
    
}
.pBButtonsContainer {
    display: flex;
    flex-direction: column;
    width: 65x;
    height: 300px;
    
}
.pBButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 58px;
    height: 58px;
    border: 1px solid black;
    background-color: red;
}
.gameButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65x;
    height: 300px;
   
}
.gameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 58px;
    height: 58px;
    border: 1px solid black;
}
.statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    
}
.stats {
    display: flex;
    
    
    width: 620px;
    height: 100px;
    border: 1px solid black;
}
